.search {
  margin: 20px;
  text-align: center;
}

.search input {
  width: 75%;
}

.media-left img {
  max-width: 70px;
}

.video-detail {
  margin-top: 10px;
  padding: 5px;
  border: 10px solid grey;
  border-radius:4px ;
}

.video-list:hover {
  background-color: rgb(201, 195, 198);
}

.video-list {
  cursor: pointer;

}

